#nval-cat{padding:1px 6px 0 4px;background:url(bg.jpg) center left no-repeat #FFF;float:left}
#nval-cat a,#drop-cats a{color:#7c7c7c;font-size:14px;line-height:20px;padding-left:8px;text-decoration:none;display:block}
#nval-cat a{color:#7C7C7C;text-decoration:none;width:94px;background:url(drop-arrow.jpg) right center no-repeat}
#drop-cats a:hover{background:#eee}
#drop-cats{background:#FFF none repeat scroll 0 0;border-bottom:1px solid #C1C1C3;border-right:1px solid #C1C1C3;z-index:200;width:114px;display:none;left:50%;margin-left:303px;position:absolute;z-index:100000}
#topnav #topnav-search input#Ntt,#topnav #topnav-search-drop input#Ntt{width:120px}
#topnav-search-drop{position:relative}
#TopMargin{position:relative;z-index:20}
#topnav-search input#NttDrop{background:#FFF none repeat scroll 0 0;border:medium none;color:#57575B;display:block;float:left;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:400;height:16px;line-height:normal;margin:0;padding:3px 2px 2px;width:120px}
.subMenu,.menu,.innerMenu,.menu .menuItem{list-style:none;margin:0;padding:0}
.menu{width:650px;margin:0}
.subMenu,.menu{font-size:14px;line-height:.1em;font-family:sans-serif}
.menu .menuItem{position:relative;float:left}
.menu .menuItem a{font-size:1em;line-height:1em;padding:.8em 1em;letter-spacing:.03em;display:block;position:relative;text-decoration:none;text-align:center;color:#FFF}
.menu .menuItem:hover .subMenu,.menu .active .subMenu{padding:.5em 0;display:block;height:auto;overflow:visible;border-color:#D7D7D7;opacity:1}
.menu .menuItem a:hover,.menu .menuItem:hover > a{background:#9a5c84}
.subMenu{top:2.55em;width:180px;position:absolute;height:1px;overflow:hidden;opacity:0;-moz-transition:opacity 150ms;-o-transition:opacity 150ms;-webkit-transition:opacity 150ms;transition:opacity 150ms;border-radius:0 0 .3em .3em;border:1px solid #fff;border-top:none;left:-1px;background:#fff}
.subMenu .menuItem{display:block;float:none;width:auto}
.subMenu .menuItem a{line-height:2em;padding:0 1.4em;margin-left:-.3em;text-align:left;white-space:nowrap;box-shadow:none;position:relative;font-size:.95em;background:none;color:#fff;color:#333}
.subMenu .menuItem a:hover{background:#6A93CA;color:#FFF}
.subMenu .menuItem a:hover:before{content:"";position:absolute;bottom:-4px;border-bottom:4px solid transparent;height:0;left:0;border-right:4px solid #364E57}
.subMenu.innerMenu{width:360px}
.subMenu .menuItem.colB a{margin-left:0;margin-right:-4px}
.subMenu .menuItem.colB a:hover:before{right:0;left:auto;border-left:.3em solid #364E57;border-right:none}
.subMenu.innerMenu > .menuItem{-moz-box-sizing:border-box;box-sizing:border-box;width:50%;*width:46.5%}
.subMenu.innerMenu > .menuItem.colA{float:left;border-right:1px solid #d7d7d7;padding-right:3%}
.subMenu.innerMenu > .menuItem.colB{float:right;padding-left:3%}
.subMenu.innerMenu .subMenu{border:none;background:none;position:static;width:auto}
.menu .subMenu.innerMenu .menuItem:hover .subMenu,.menu .subMenu.innerMenu .menuItem .subMenu{padding-top:0}
.subMenu.innerMenu > .menuItem:hover > a,.subMenu.innerMenu > .menuItem > a{background:none;color:#333;cursor:default;font-weight:700;text-transform:uppercase}
.subMenu.innerMenu > .menuItem > a:hover:before,.subMenu.innerMenu > .menuItem > a:hover:after{content:none}
.menu,.cf{zoom:1}
.menu:before,.menu:after,.cf:before,.cf:after{content:" ";display:table}
.menu:after,.cf:after{clear:both}
