<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>404 - Page Not Found</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/favicon.png">
</head>

<style>
p.big {
   font-size: 150%;
}
</style>

<body>
<center>

  <br />
  <img src="../../assets/images/logo.png" alt="logo">

  <p class="big">Sorry, the page you requested isn't here.</p>
  <p>Do you want to return to the <a href="/index.php">main page</a>?<p>

  <img src="../../assets/images/404.jpg" alt="Page Not Found (404).">

</center>
</body>

</html>
