# Custom error pages
ErrorDocument 403 /view/errors/403.html
ErrorDocument 404 /view/errors/404.html
ErrorDocument 500 /view/errors/500.html

# Disable directory indexing
Options All -Indexes

# Turn off Server Side Includes and CGI Execution
Options -Includes
Options -ExecCGI

# Deny access to .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
