.i-109,.i-37,.i-34,.i-33,.i-32,.i-27,.i-25,.i-24,.i-19,.i-17,.i-149,.i-140,.i-121,.i-120,.i-116,.i-118,.i-115,.i-178{display:inline-block;background-repeat:no-repeat;background-image:url(icons.png);float:left}
.i-37{background-position:0 -192px;width:64px;height:64px}
.i-34{background-position:-64px -192px;width:64px;height:64px}
.i-33{background-position:-192px -192px;width:64px;height:64px}
.i-32{background-position:-320px -192px;width:64px;height:64px}
.i-27{background-position:-640px -192px;width:64px;height:64px}
.i-25{background-position:-704px -192px;width:64px;height:64px}
.i-24{background-position:-832px -192px;width:64px;height:64px}
.i-19{background-position:-64px -256px;width:64px;height:64px}
.i-17{background-position:-576px -256px;width:64px;height:64px}
.i-149{background-position:-64px -320px;width:64px;height:64px}
.i-140{background-position:-320px -320px;width:64px;height:64px}
.i-121{background-position:0 -384px;width:64px;height:64px}
.i-120{background-position:-128px -384px;width:64px;height:64px}
.i-116{background-position:-320px -384px;width:64px;height:64px}
.i-118{background-position:-384px -384px;width:64px;height:64px}
.i-115{background-position:-448px -384px;width:64px;height:64px}
.i-109{background-position:-640px -384px;width:64px;height:64px}
.i-178{background-position:-384px -448px;width:64px;height:64px}
