.loggedout_menubar_container{background-color:#3b5998;height:82px;min-width:980px}
.loggedout_menubar{margin:0 auto;padding-top:13px;width:980px}
.loggedout_menubar .cb_logo{margin-top:17px}
.UIPage_LoggedOut .UIFullPage_Container{margin-top:26px}
.sp_9vUokIDmpP8{background-image:url(sprite.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:21px;width:11px}
.sp_9vUokIDmpP8.sx_15c231{width:170px;height:36px;background-position:0 -481px}
