*{font-family:Verdana,Arial,sans-serif;font-size:13px;font-style:normal;text-decoration:none;text-align:left;color:#000}
a{color:#000;font-weight:700;text-decoration:underline}
i{font-style:italic}
u{text-decoration:underline}
