html,body{background-color:#FFF;margin:0;margin-left:5px;text-align:center}
div.main{background-color:#FFF;padding:0;text-align:left}
img{border:0}
table.main{border-collapse:collapse;padding:0;margin:0}
td.main{padding:0;vertical-align:top}
